{% extends 'back/base_back.html.twig' %}

{% block title %}Listes des chiens{% endblock %}

{% block body %}
    <h1>Listes des chiens</h1><br>

    <table class="table table-hover ">
        <thead class="table-warning">
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Age</th>
                <th>Race</th>
                <th>Présentation</th>
                <th>Propriétaire</th>
                <th>Hobbys</th>
                <th>Photo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dog in dogs %}
            <tr>
                <td>{{ dog.id }}</td>
                <td>{{ dog.name }}</td>
                <td>{{ dog.age }}</td>
                <td>{{ dog.race }}</td>
                <td>{{ dog.presentation }}</td>
                <td>{{ dog.member.pseudo }}</td>
                <td>
                {% for hobby in dog.hobbies %}
                    <ul>
                        <li> {{ hobby }}</li>
                    </ul>
                {% endfor %}
                </td>                

                <td>
                    {% for picture in dog.pictures %}
                        <ul>
                            <li> <img src="{{ app.request.getBaseURL() }}/uploads/pictures/{{ picture.picture }}" width="50px"> </li>
                        </ul>
                    {% endfor %}
                    </td> 
                <td>
                    <a class="btn btn-sm btn-info" href="{{ path('app_back_dog_show', {'id': dog.id}) }}">Voir</a>
                    <a class="btn btn-sm btn-secondary" href="{{ path('app_back_dog_edit', {'id': dog.id}) }}">Editer</a>
                    <a class="btn btn-sm btn-success" href="{{ path('app_back_hobby_indexhobbies', {'id': dog.id}) }}">Hobbies</a>
                    <a class="btn btn-sm btn-light" href="{{ path('app_back_picture_indexpictures', {'id': dog.id}) }}">pictures</a>
                    {{ include('back/dog/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Pas de chiens enregistrés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-warning" href="{{ path('app_back_dog_new') }}">Ajouter un nouveau chien</a>
{% endblock %}
