{% extends 'back/base_back.html.twig' %}

{% block title %}Chiens{% endblock %}

{% block body %}
    <h1>Fiche chien</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ dog.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ dog.name }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ dog.age }}</td>
            </tr>
            <tr>
                <th>Race</th>
                <td>{{ dog.race }}</td>
            </tr>
            <tr>
                <th>Présentation</th>
                <td>{{ dog.presentation }}</td>
            </tr>
            <tr>
                <th>Propriétaire</th>
                <td>{{ dog.member.pseudo }}</td>
            </tr>
            <tr>
                <th>Hobbys</th>
                <td>{# {{ dog.hobby.hobby }} #}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{# {{ dog.picture.picture }} #}</td>
            </tr>
            
        </tbody>
    </table>

    <a class="btn btn-warning float-end" href="{{ path('app_back_dog_index') }}">Retour à la liste</a>

    <a class="btn btn-secondary m-1" href="{{ path('app_back_dog_edit', {'id': dog.id}) }}">Editer</a>

    {{ include('back/dog/_delete_form.html.twig') }}
{% endblock %}
