{% extends 'back/base_back.html.twig' %}

{% block title %}Hobbies Index{% endblock %}

{% block body %}
    <h1>Hobbies de {{ dog.name }}</h1>

    <a href="{{ path('app_back_hobby_new', {id: dog.id}) }}">Create new</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Hobby</th>
                <th>Dog</th>
                <th>actions</th>

            </tr>
        </thead>
        <tbody>
        {% for hobby in hobbies %}
            <tr>
                <td>{{ hobby.id }}</td>
                <td>{{ hobby.hobby }}</td>
                <td>{{ hobby.dog.name }}</td>
                <td>
                    <a href="{{ path('app_back_hobby_show', {'id': hobby.id, dog_id: dog.id}) }}">show</a>
                    <a href="{{ path('app_back_hobby_edit', {'id': hobby.id, dog_id: dog.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
