{% extends 'back/base_back.html.twig' %}

{% block title %}Hobbies de {{ dog.name }}{% endblock %}

{% block body %}
    <h1>Hobbies de {{ dog.name }}</h1><br>

    <table class="table table-hover ">
        <thead class="table-warning">
            <tr>
                <th>Id</th>
                <th>Hobby</th>
                <th>Actions</th>

            </tr>
        </thead>
        <tbody>
        {% for hobby in hobbies %}
            <tr>
                <td>{{ hobby.id }}</td>             
                <td>{{ hobby.hobby }}</td>

                <td>
                    <a class="btn btn-sm btn-info" href="{{ path('app_back_hobby_show', {'id': hobby.id, dog_id: dog.id}) }}">Voir</a>
                    <a class="btn btn-sm btn-secondary" href="{{ path('app_back_hobby_edit', {'id': hobby.id, dog_id: dog.id}) }}">Editer</a>
                    {{ include('back/hobby/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-warning" href="{{ path('app_back_hobby_new', {id: dog.id}) }}">Ajouter un hobby</a>
    <a class="btn btn-warning float-end" href="{{ path('app_back_dog_index') }}">Retour à la liste des chiens</a>
{% endblock %}
