{% extends 'back/base_back.html.twig' %}

{% block title %}Photos de {{ dog.name }}{% endblock %}

{% block body %}
    <h1>Photos de {{ dog.name }} </h1>

    <table class="table table-hover ">
        <thead class="table-warning">
            <tr>
                <th>Id</th>
                <th>Photos</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for picture in pictures %}
            <tr>
                <td>{{ picture.id }}</td>
                <td><img src="{{ app.request.getBaseURL() }}/uploads/pictures/{{ picture.picture }}" width="150px"></td>          
                <td>
                    <a class="btn btn-sm btn-secondary" href="{{ path('app_back_picture_edit', {'id': picture.id, dog_id: dog.id }) }}">Editer la photo</a>
                    {{ include('back/picture/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<p><a class="btn btn-success" href="{{ path('app_back_picture_new', {id: dog.id}) }}">Ajouter une nouvelle photo</a></p>

<a class="btn btn-warning float-end" href="{{ path('app_back_dog_index') }}">Retour à la liste des chiens</a>

<p><a class="btn btn-warning " href="{{ path('app_back_dog_show', {'id': dog.id}) }}">Retour au profil de {{ dog.name }} </a></p><br>  


  
{% endblock %}
