{% extends 'back/base_back.html.twig' %}

{% block title %}Backoffice O'Poils{% endblock %}

{% block body %}

<center><img src="{{ app.request.getBaseURL() }}/pictures/logo.png" width="150px"></center>

    <h1>Liste des derniers membres ajoutés</h1><br>

    <table class="table table-hover ">
        <thead class="table-warning">
            <tr>
                <th>Nom de famille</th>
                <th>Prénom</th>
                <th>Username</th>
                <th>Email</th>
                <th>Code postal</th>
                <th>Ville</th>
                <th>Photo de profil</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for member in members %}
            <tr>
                <td>{{ member.lastname }}</td>
                <td>{{ member.firstname }}</td>
                <td>{{ member.username }}</td>
                <td>{{ member.email }}</td>
                <td>{{ member.postalCode }}</td>
                <td>{{ member.city }}</td>
                <td><img src="{{ app.request.getBaseURL() }}/uploads/pictures/{{ member.picture }}" width="150px"></td>          
                <td>
                    <a class="btn btn-sm btn-info" href="{{ path('app_back_member_show', {'id': member.id}) }}">Voir</a> 
                    <a class="btn btn-sm btn-secondary" href="{{ path('app_back_member_edit', {'id': member.id}) }}">Editer</a>
                    {{ include('back/member/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h1>Liste des derniers chiens ajoutés</h1><br>

    <table class="table table-hover ">
        <thead class="table-warning">
            <tr>
                <th>Nom</th>
                <th>Age</th>
                <th>Race</th>
                <th>Propriétaire</th>
                <th>Photo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dog in dogs %}
            <tr>
                <td>{{ dog.name }}</td>
                <td>{{ dog.age }}</td>
                <td>{{ dog.race }}</td>
                <td>{{ dog.member.username }}</td>
                <td>{# {{ dog.picture.picture }} #}</td>
                <td>
                    <a class="btn btn-sm btn-info" href="{{ path('app_back_dog_show', {'id': dog.id}) }}">Voir</a>
                    <a class="btn btn-sm btn-secondary" href="{{ path('app_back_dog_edit', {'id': dog.id}) }}">Editer</a>
                    {{ include('back/dog/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun chien enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
